<div class="row">
  <div class="col">
    <%= form_for @keyword, Routes.keyword_path(@conn, :create), fn f -> %>
      <div class="form-group">
        <%= label f, :title %>
        <%= text_input f, :title, class: "form-control", placeholder: "Enter keyword" %>
      </div>
      <%= submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>